{% extends "layout/base.html" %}

{% block title %}
    flask-example primes
{% endblock %}

{% block content %}
<div class="intro">
        {% if n %}
        <h2 class="text-center">Prime number #{{n}}:</h2>
        <p class="text-center">{{prime}}</p>
        {% else  %}
        <h2 class="text-center">To find the n-th prime number, please select an n!</h2>
        {% endif %}
        <p class="text-center">Access the following URL with a natural number: /getPrime/<strong>&lt;n></strong></p>
    </div>
    <div class="buttons">
        <a class="btn btn-primary" role="button" href="/getPrime/5" style="background: var(--danger);">5</a>
        <a class="btn btn-primary" role="button" href="/getPrime/10" style="background: var(--danger);">10</a>
        <a class="btn btn-primary" role="button" href="/getPrime/20" style="background: var(--danger);">20</a>
        <a class="btn btn-primary" role="button" href="/getPrime/50" style="background: var(--danger);">50</a>
    </div>
    <p class="text-center">You can also use a predefined button.</p>
{% endblock %}